// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4 {
    font-family: "Monoton", cursive;
    color: rgb(48, 9, 90);
}

body {
    background-color: rgb(241, 186, 195);
    font-family: "Contrail One", cursive;
}

.controls {
    display: flex;
}

.service-box input {
    border: none;
    font-size: 20px;
}
.image-box {
    img {
        width: 200px;
        height: auto;
    }
}
